language: node_js
node_js:
  - "stable"
  - "5.1"
  - "5.0"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "0.8"
before_install:
  - npm -g install npm@'>=2'
before_script:
  - npm install -g mocha
script: mocha
