language: node_js
node_js:
  - "stable"
  - "8"
  - "6"
  - "5"
  - "4"
before_install:
#  - npm -g install npm@'>=3'
# this is from the below libxmljs test, just to confirm it's installed correctly
  - $CXX --version
# cached node_modules seem to be breaking node 8 tests
#cache:
#  directories:
#    - node_modules
# ensure libxmljs can get compiled
env:
    - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
sudo: false
